{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div>
	<h1>About Us</h1> 
</div>

<div>
    <div class="middle">
        <section>
            <h1>Our Mission</h1>
            <p>{{mission_summary|safe}}</p>
        </section>
    </div>
</div>

<!-- Our Team Section -->
	<h2 class="team-heading">Our Team</h2>
<div class="about_us-wrapper">
	<section class="team-section">
		<div class="team-member">
			<p class="name">John Doe</p>
			<img src="team-member1.jpg" alt="Team Member 1">
			<p class="position">CEO</p>
		</div>
		<div class="team-member">
			<p class="name">John Doe</p>
			<img src="team-member2.jpg" alt="Team Member 2">
			<p class="position">CEO</p>
		</div>
		<div class="team-member">
			<p class="name">John Doe</p>
			<img src="team-member3.jpg" alt="Team Member 3">
			<p class="position">CEO</p>
		</div>
		<div class="team-member">
			<p class="name">John Doe</p>
			<img src="team-member4.jpg" alt="Team Member 4">
			<p class="position">CEO</p>
		</div>
		<div class="team-member">
			<p class="name">John Doe</p>
			<img src="team-member5.jpg" alt="Team Member 5">
			<p class="position">CEO</p>
		</div>
	</section>

	<section class="contact-info">
		<!-- Contact Info -->
		<h2 class="team-heading">Contact Info</h2>
		<div id="contact-socials">
			<p>{{ enquiries_email }}</p>
			<p>{{ partnerships_email }}</p>
			<p>{{ phone_number }}</p>
		</div>
	</section>

	<section class="socials">
		<!-- Our Team Section -->
		<h2 class="team-heading">Socials</h2>
		<div id="contact-socials">
			<p>{{ youtube }}</p>
			<p>{{ facebook }}</p>
			<p>{{ instagram }}</p>
			<p>{{ twitter }}</p>
		</div>
	</section>
</div>
{% endblock %}
