{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div>
	<h1>About Us</h1> 
</div>

<div>
    <div class="middle">
        <section>
            <h1>Our Mission</h1>
            <p>{{mission_summary|safe}}</p>
        </section>
    </div>
</div>

<!-- Our Team Section -->
	<h2 class="team-heading">Our Team</h2>
<div class="about_us-wrapper">
	<section class="team-section">
		<div class="team-member">
			<p class="name">Michal Cwiklinski</p>
			<img src="{% static 'images/Michal Cwiklinski.png' %}" alt="Team Member 1">
			<p class="position">2778904C</p>
		</div>
		<div class="team-member">
			<p class="name">Ben Whitehead</p>
			<img src="{% static 'images/Ben Whitehead.png' %}" alt="Team Member 2">
			<p class="position">2732382W</p>
		</div>
		<div class="team-member">
			<p class="name">Mohammed Alsenani</p>
			<img src="{% static 'images/Mohammed Al Senani.png' %}" alt="Team Member 3">
			<p class="position">2840440A</p>
		</div>
		<div class="team-member">
			<p class="name">Ronit Sethi</p>
			<img src="{% static 'images/Ronit Sethi.png' %}" alt="Team Member 4">
			<p class="position">2651435S</p>
		</div>
		<div class="team-member">
			<p class="name">Khalifa Albeshr</p>
			<img src="{% static 'images/Khalifa Albeshr.png' %}" alt="Team Member 5">
			<p class="position">2840442A</p>
		</div>
	</section>

	<section class="contact-info">
		<!-- Contact Info -->
		<h2 class="team-heading">Contact Info</h2>
		<div id="contact-socials">
			<p>{{ enquiries_email }}</p>
			<p>{{ partnerships_email }}</p>
			<p>{{ phone_number }}</p>
		</div>
	</section>

	<section class="socials">
		<!-- Our Team Section -->
		<h2 class="team-heading">Socials</h2>
		<div id="contact-socials">
			<p><i class="fab fa-youtube"></i>{{ youtube }}</p>
			<p><i class="fab fa-facebook"></i>{{ facebook }}</p>
			<p><i class="fab fa-instagram"></i>{{ instagram }}</p>
			<p><i class="fab fa-twitter"></i>{{ twitter }}</p>
		</div>
	</section>
</div>
{% endblock %}
