{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
FAQ
{% endblock %}

{% block content %}
<div class="middle columns">
	<h1>FAQ</h1> 

    <div>
        <h2>What can we help you find?</h2>
        <select id="faq-dropdown" name="faq-dropdown">
            <option value="">Please select</option>
            <option value="Change my password">Change my password</option>
            <option value="View my activity history">View my activity history</option>
            <option value="What kind of activities can I log in Renova?">What kind of activities can I log in Renova?</option>
            <option value="Delete my account">Delete My Account</option>
        </select>
    </div>

</div>

<div class="leftalign columns">
    <h2>Popular Questions</h2>
    {% if popular_questions %}
        <ol>
        {% for question in popular_questions %}
            <li>{{ question }}</li>
        {% endfor %}
        </ol>
    {% else %}
    <div class="faq-questions">
        <ul>
            <li><strong>How do I reset my password if I've forgotten it?</strong></li>
            <li><strong>Can I access this service on my mobile device?</strong></li>
            <li><strong>Is there a way to export my data from your platform?</strong></li>
            <li><strong>Who do I contact for technical support or assistance?</strong></li>
        </ul>
    </div>
    {% endif %}
</div>

<div class="rightalign columns">
    <h2>Can't find what you're looking for?</h2>
    <p>Contact us, through the contact information provided in our 'About Us' page</p>
    <a href="{% url 'renova:about_us' %}">About Us</a>
</div>

{% endblock %}