{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Groups
{% endblock %}

{% block content %}
<div>
	<h1>Groups</h1> 
</div>

<div class="container">
    <div class="columns">
        <section class="leftalign">
            <h2>Explore Groups</h2> 
            <h3>Most Popular</h3>
            {% if popular_groups %}
                <ol>
                {% for group in popular_groups %}
                    <li><a href="{% url 'renova:group' group.slug %}">{{ group.name }}</a></li>
                {% endfor %}
                </ol>
            {% else %}
                <strong>There are no groups present.</strong>
            {% endif %}

            <h3>Recently Added</h3>
            {% if recent_groups %}
                <ol>
                {% for group in recent_groups %}
                    <li><a href="{% url 'renova:group' group.slug %}">{{ group.name }}</a></li>
                {% endfor %}
                </ol>
            {% else %}
                <strong>There are no new groups present.</strong>
            {% endif %}
        <section>
    </div>

    <section id="explore-groups" class="rightalign leftline">
        <div class="summaries">
            <h2><a href="{% url 'renova:make_group' %}">Make A Group</a></h2> 
            <p>{{ make_group_summary|safe }}</p>  
        </div>
    <section>
</div>
{% endblock %}
