{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if group %}
        {{ group.name }}
    {% else %}
        Unknown Group
    {% endif %}
{% endblock %}

{% block content %}
    {% if group %}
        <div class="container">
            <div class="columns">
                <div id="group-logo">
                    {% if group.icon %}
                        <img src="{{ group.icon.url }}" alt="{{ group.name }} Icon">
                    {% else %}
                        <img alt="{{ group.name }} Icon">
                    {% endif %}
                    <h1>{{ group.name }}</h1>
                </div>

                <div id="group-description">
                    <p>{{ group.description }}</p>
                </div>

                <div id="group-announcements">
                    <h2>Announcements</h2>
                    <p>{{ group.announcements }}</p>
                </div>
            </div>

            <div class="comment-section rightalign leftline">
                <div class="leftalign">Comments</div>
                {% for comment in group.comments.all %}
                    <p>{{ comment.text }} - {{ comment.user.username }}{% if comment.user == group.admin %} (Admin){% else %} (Member){% endif %}</p>
                {% endfor %}

                {% if request.user == group.admin or request.user in group.members.all %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Post comment</button>
                    </form>
                {% endif %}
            </div>

            {% if request.user == group.admin %}
                <p>You are the admin of this group.</p>
            {% elif request.user in group.members.all %}
                <form method="post" action="{% url 'renova:leave_group' group.slug %}">
                    {% csrf_token %}
                    <button type="submit">Leave Group</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'renova:join_group' group.slug %}">
                    {% csrf_token %}
                    <button type="submit">Join Group</button>
                </form>
            {% endif %}
        </div>

    {% else %}
        <p>Group not found.</p>
    {% endif %}
{% endblock %}
