{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
	<div class="leftalign columns">
		<h1>Welcome to Renova</h1> 
		<p>{{ summary|safe  }}</p> 
		<a href="{% url 'registration_register' %}">Get Started!</a>
	</div>

	<div id="explore-groups" class="rightalign leftline columns summaries"> 
		<h2><a href="{% url 'renova:groups' %}">Explore Groups</a></h2> 
		<p>{{ group_summary|safe }}</p>  
	</div>
</div>
{% endblock %}
