{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
My Logs
{% endblock %}

{% block content %}

<div class="my_logs middle">

  <div class="large-dial-container">
    <div class="dial-label">OVERALL</div>
    <div id="dial5" class="dial large-dial"><div class="dial-text"><strong>78</strong><br />/100</div></div>
  </div>


  <div class="small-dials-container">

    <div class="dial-container">
      <div class="dial-label">Calories</div>
      <div id="dial1" class="dial"><div class="dial-text"><strong>1300</strong><br />kcal</div></div>
    </div>

    <div class="dial-container">
      <div class="dial-label">Water</div>
      <div id="dial2" class="dial"><div class="dial-text"><strong>1300</strong><br />ml</div></div>
    </div>

    <div class="dial-container">
      <div class="dial-label">Sleep</div>
      <div id="dial3" class="dial"><div class="dial-text"><strong>7</strong><br />hrs</div></div>
    </div>

    <div class="dial-container">
      <div class="dial-label">Active Duration</div>
      <div id="dial4" class="dial"><div class="dial-text"><strong>32</strong><br />mins</div></div>
    </div>
  </div>

  <div class="smallercont"><a href="{% url 'renova:record_log' %}">Record a Log</a></div>

</div>

<div class="middle columns">
  {% for log in user_logs %}
    {% for activity in log.activities.all %}
      <div class="activity-log">
        <div class="activity-name">
          <span>Activity Name: {{ activity.name }}</span>
        </div>
        <div class="activity-duration">
          <span>Duration mins: {{ activity.duration }}</span>
        </div>
      </div>
    {% endfor %}
  {% empty %}
    <div class="activity-log"></div>
    <p>You have no logs at the moment.</p>
  {% endfor %}
</div>


<div class="manage-account-container"><a href="{% url 'renova:my_account' %}">Manage Account</a></div>

{% endblock %}