{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
My Logs
{% endblock %}

{% block js %}
<script>
  // ---------------------------------------------
  // HARDCODED TARGETS ATM
  // ---------------------------------------------
  var target_calories = 2000;
  var target_water = 2500;
  var target_sleep = 8;
  var target_duration = 60;
  // ---------------------------------------------

  var total_calories = "{{total_calories}}";
  var total_water = "{{total_water}}";
  var total_sleep = "{{total_sleep}}";
  var total_duration = "{{total_duration}}";
</script>
<script src="{% static 'javascript/my_logs.js' %}"></script>
{% endblock %}

{% block content %}

<div class="my_logs middle">

  <div class="large-dial-container">
    <div class="dial-label">OVERALL</div>
    <div id="overall-dial" class="dial large-dial"><div class="dial-text"><strong>0</strong><br />/100</div></div>
  </div>


  <div class="small-dials-container">

    <div class="dial-container">
      <div class="dial-label">Calories</div>
      <div id="calorie-dial" class="dial"><div class="dial-text"><strong>{{ total_calories }}</strong><br />kcal</div></div>
    </div>

    <div class="dial-container">
      <div class="dial-label">Water</div>
      <div id="water-dial" class="dial"><div class="dial-text"><strong>{{ total_water }}</strong><br />ml</div></div>
    </div>

    <div class="dial-container">
      <div class="dial-label">Sleep</div>
      <div id="sleep-dial" class="dial"><div class="dial-text"><strong>{{ total_sleep }}</strong><br />hrs</div></div>
    </div>

    <div class="dial-container">
      <div class="dial-label">Active Duration</div>
      <div id="duration-dial" class="dial"><div class="dial-text"><strong>{{ total_duration }}</strong><br />mins</div></div>
    </div>
  </div>

  <div class="smallercont"><a href="{% url 'renova:record_log' %}">Record a Log</a></div>

</div>

<div class="middle columns">
  {% for log in logs %}
    {% for activity in log.activities.all %}
      <div class="activity-log">
        <div class="activity-name">
          <span>Activity Name: {{ activity.name }}</span>
        </div>
        <div class="activity-duration">
          <span>Duration mins: {{ activity.duration }}</span>
        </div>
      </div>
    {% endfor %}
  {% empty %}
    <div class="activity-log"></div>
    <p>You have no logs at the moment.</p>
  {% endfor %}
</div>


<div class="manage-account-container"><a href="{% url 'renova:my_account' %}">Manage Account</a></div>

{% endblock %}