/* Reset some default styling */
body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Add a dark background color */
    background: linear-gradient(to top, #1a0033, #011627);
    /* Use a light color for text */
    color: #FDFFFC;
}

#stars {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #fff;
    animation: moveStar infinite linear;
}

@keyframes moveStar {
    from {
        transform: translate3d(-100%, -100%, 0);
    }
    to {
        transform: translate3d(100%, 100%, 0);
    }
}

header {
    background: linear-gradient(to right, #37043b, #4c008a);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 1;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav ul {
    list-style-type: none;
    font-size: 1.5vw; /* Adjust as needed */
}

nav ul li {
    display: inline;
    margin: 5vw; /* Adjust as needed */
}

nav ul li a {
    text-decoration: none;
    color: #FDFFFC; /* Light color for contrast */
    font-family: 'Roboto', sans-serif;
}


#logo { 
    font-size : 1.2vw; 
    width: 5%;
    height: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

#logo::after {
    content: "";
    display: block;
    width: 135%;
    height: 100%;
    background: 
    radial-gradient(circle at center, rgba(255, 255, 255, 0.5) 0%, transparent 100%);
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: -16%;
    z-index: 3;
}

#logo img {
    background-color: #FDFFFC;
    border-radius: 50%;
    padding: 5%;
    z-index: 4;
}


main { 
    padding : 20px ;
    flex: 1 0 auto;
}


.middle {
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
    border: 1px solid rgb(132, 86, 192);
    padding: 70px 0;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(51, 38, 80);
}

.middle p {
    text-align: left;
    padding: 25px;
}

.leftalign {
	float: left;
    margin-left: 150px;
}

.rightalign {
    float: right;
    margin-right: 150px;
    padding-left: 100px;
}

#explore-groups {
    margin-right: 500px;
}

.container {
    display: flex;
    justify-content: space-between; /* This will distribute the items evenly across the row */
}

.left, .right {
    width: 20%; 
}

main > div {
    display: flex;
}

footer {
    flex-shrink: 0;
    text-align: right;
    margin-top: 20px; 
    padding-top: 10px; 
    padding-right: 50px; 
    border-top: 1px solid #ffffff; 
    background-color: #090313; /* Black color */
    color: #ffffff; /* White color for contrast */
}

.columns {
	display: flex;
	flex-direction: column;
}

.leftline {
    text-align: right;
    border-left: 1px solid #FDFFFC;
}


/* LOGIN */
.login-form {
    /* Use a semi-transparent background for contrast */
    background-color: rgba(255, 255, 255, 0.1);
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    text-align: left;
    display: block;
    margin-top: 25px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"],
.login-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form p {
    text-align: center;
}

.login-form ul {
    font-size: 12px;
    margin-left: 5%;
    color:rgb(233, 190, 125)
}

/* THE TEAM */
.team-section {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0%;
    padding-right: 0%; 
	border: 1px solid #ccc;
	width: 55%;
}

.team-heading {
    text-align: center;
    margin-bottom: 20px;
	width: 20%;
}

.team-member {
    text-align: center;
    margin: 10px;
}

.team-member img {
    width: 90%;
    height: auto;
    border-radius: 0%;
	border: 1px solid #ccc;
	font-size: 12px;
}

.team-member .name {
    font-weight: bold;
    /* Use a lighter color for text */
    color: #ffffff;
}

.team-member .position {
    /* Use a lighter color for text */
    color: #cccccc;
}

.about_us-wrapper {
	display: flex;
	justify-content: space-between;
}

/* Contact Info */
.contact-info {
    background-color: #f0f0f0; 
    padding: 20px;
    border-radius: 10px;
    width: 15%; 
}

.contact-info h2{
    color:#000033;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #011627;
}

/* Socials */
.socials {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 15%;
}

.socials p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #011627;
}

.socials h2{
    color:#000033;
}


#delete-account-button {
    margin-left: auto;
    display: block;
}

#contact-socials {
    color:#011627;
    margin-left: 50px;
}

/* MyLogs */
.my_logs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-dial-container, .small-dials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-dials-container {
    flex-direction: row;
    justify-content: center;
}

.dial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 10%; 
}

.dial {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background: lightgrey;
    color: #011627;
}

.large-dial {
    width: 150px;
    height: 150px;
}

.dial-label {
    margin-bottom: 10px; /* Adjust as needed */
    text-align: center;
    font-size: 14px; /* Adjust as needed */
}

.dial::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: #ffffff;
}

.large-dial::before {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.dial-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px; /* Adjust as needed */
}

/* Individual dial backgrounds */
#dial1 {
    background: conic-gradient(red 0%, rgb(255, 123, 0) 50%, transparent 50%, transparent 0%, lightgrey 100%);
}

#dial2 {
    background: conic-gradient(aqua 0%, rgb(0, 255, 200) 25%, transparent 25%, transparent 0%, lightgrey 100%);
}

#dial3 {
    background: conic-gradient(rgb(36, 0, 119) 0%, rgb(204, 0, 255) 75%, transparent 75%, transparent 0%, lightgrey 100%);
}

#dial4 {
    background: conic-gradient(rgb(255, 166, 0) 0%, rgb(236, 228, 109) 100%, transparent 100%, transparent 0%, lightgrey 100%);
}

#dial5 {
    background: conic-gradient(rgb(0, 143, 83) 0%, rgb(0, 255, 136) 78%, transparent 78%, transparent 0%, lightgrey 100%);
}

.activity-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px; 
    height: 50px; 
    margin: 5px auto; 
    padding: 0 10%; 
    border: 3px solid lightgrey;
    border-radius: 10px;
    background-color: white;
}

.activity-name, .activity-duration {
    font-size: 16px; 
    color: #011627;
}


/* MAKE A GROUP */
.group-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group-form form .field-name,
.group-form form .field-activities,
.group-form form .field-icon {
    order: 1;
}

.group-form form .field-description {
    order: 2;
    align-self: flex-start;
}

.group-form form .field-announcements {
    order: 2;
    align-self: flex-end;
}

.group-form form .rightalign {
    order: 3;
    align-self: flex-end;
}


/* GROUP pages */

/* group logo */
#group-logo {
    margin: 50px;
    font-size : 14px; 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    gap: 10px;
}

#group-logo img {
    height: 100px;
    width: 100px;
}

/* group description */
#group-description {
    background-color: #212138;
    width: 500px;
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
    border: 1px solid #313153;
    font-size: 1.2em;
    line-height: 1.6;
}

/* group announcements */
#group-announcements {
    width: 500px;
    background-color: #fdeed8;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.2em;
    color: #333;
    margin: 0 50px;
}