<!DOCTYPE html>
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}<meta charset="UTF-8">{% endblock %}
    <title>Renova - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script src="{% static 'javascript/jquery.js' %}"></script>
	{% block js %}{% endblock %}
</head>
<body>

<header>
    <!-- Logo -->
    <div id="logo" class="columns">
		<img src="{% static 'images/renova.png' %}" alt="Logo" />
    	RENOVA
    </div> 

    <nav>
        <ul>
		<!-- Outside the conditional statements, ALWAYS show -->
		<li><a href="{% url 'renova:index' %}">Home</a></li>
	{% if user.is_authenticated %}        	
		<!-- Show these links when the user is logged in -->
		<li><a href="{% url 'renova:my_logs' %}">My Logs</a></li>
        <li><a href="{% url 'renova:my_account' %}">My Account</a></li>
		<li><a href="{% url 'auth_logout' %}">Logout</a></li>
	{% else %}
		<!-- Show these links when the user is NOT logged in -->
		<li><a href="{% url 'registration_register' %}">Sign Up</a></li>
		<li><a href="{% url 'auth_login' %}">Login</a></li>
	{% endif %}
		<li><a href="{% url 'renova:groups' %}">Groups</a></li>
        </ul> 
    </nav>
</header>

<!-- Main Content -->
<main>
    {% block content %}
    {% endblock %}
</main>

<!-- Footer -->
<footer>
	<nav>
		<ul>
		<li><a href="{% url 'renova:about_us' %}">About Us</a></li>
		<li><a href="{% url 'renova:faq' %}">FAQ</a></li>
		</ul>
	</nav>
</footer>

</body>
</html>
